* {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}

i, .texto {
    font-size: 15pt;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #E7E7E7;
    color: #44749D;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.option-container {
    gap: 35px;
    height: 100%;
}

.logo {
    width: 200px;
    height: 200px;
}

.texto {
    padding: 5px;
    border-radius: 5px;
}

/* ------------------------------ */
/* ESTILOS RESPONSIVOS            */
/* ------------------------------ */

@media (max-width: 768px) {
    .sidebar {
        width: 150px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    i, .texto {
        font-size: 12pt;
    }

    .option-container {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 120px;
    }

    .logo {
        width: 120px;
        height: 120px;
    }

    i, .texto {
        font-size: 10pt;
    }

    .option-container {
        gap: 15px;
    }
}
